.tactic {
  display: inline-block;
  width: 200px;
  height: 200px;
}

.tacticInner {
  width: 190px;
  height: 190px;
  position: relative;
  background: #282c36;
  margin-right: 10px;
}

.tacticRarity {
  width: 5px;
  height: 200px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  top: 0;
}

.tacticInner img {
  width: 120px;
  height: 90px;
  position: absolute;
  top: 15px;
  left: 35px;
}

.tacticText {
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 185px;
  height: 50px;
  background: #242531;
}

.tacticText p {
  height: 15px;
  line-height: 15px;
  color: #e4e4e4;
  font-size: 12px;
  margin: 0;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tacticText p:first-child {
  margin-top: 10px;
}

/* Add media queries for mobile responsiveness */
@media (max-width: 768px) {
  .tactic {
    width: 150px; /* Smaller items on mobile */
    height: 150px;
  }

  .tacticInner {
    width: 140px;
    height: 140px;
  }

  .tacticInner img {
    width: 90px;
    height: 70px;
    top: 10px;
    left: 25px;
  }

  .tacticText {
    width: 135px;
    height: 40px;
  }

  .tacticText p {
    font-size: 10px;
  }
}

.bgBlue {
  background-color: #4b69ff;
}
.bgPurple {
  background-color: #8847ff;
}
.bgRed {
  background-color: #eb4b4b;
}
.bgYellow {
  background-color: #ffd700;
}
.bgPink {
  background-color: #d32ce6;
}
