/* CS16.css styled modal */

.modalBackdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.85);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modalContent {
	background-color: #3e4637;
	border: 1px solid;
	border-color: var(--border-light) var(--border-dark) var(--border-dark)
		var(--border-light);
	color: var(--text);
	margin: auto;
	padding: 4px;
	max-width: 400px;
	width: 90%;
	text-align: center;
	position: relative;
	user-select: none;
	animation: modalAnimation 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes modalAnimation {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.closeButton {
	position: absolute;
	top: 10px;
	right: 10px;
	background: no-repeat 50%;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%238c9284' d='M3 3h1v1H3m1-1h1v1H4M3 4h1v1H3m1-1h1v1H4m0 0h1v1H4m1-1h1v1H5m0-2h1v1H5m0 1h1v1H5m1-1h1v1H6m0-2h1v1H6m0 1h1v1H6m0 0h1v1H6m1-1h1v1H7m0-2h1v1H7m0-2h1v1H7m1-1h1v1H8m0 0h1v1H8m0 0h1v1H8m0-4h1v1H8m1-1h1v1H9m0 0h1v1H9m0-3h1v1H9m1-1h1v1h-1m0 0h1v1h-1m0-3h1v1h-1m1-1h1v1h-1m0 0h1v1h-1M9 8h1v1H9m0 0h1v1H9M8 9h1v1H8m2-1h1v1h-1m0 0h1v1h-1m-1-1h1v1H9m2-1h1v1h-1m0 0h1v1h-1m-1-1h1v1h-1M5 8h1v1H5m0 0h1v1H5m1-1h1v1H6M4 9h1v1H4m0 0h1v1H4m1-1h1v1H5m-2-1h1v1H3m0 0h1v1H3m1-1h1v1H4'/%3E%3C/svg%3E");
	background-color: var(--bg);
	border: 1px solid;
	border-color: var(--border-light) var(--border-dark) var(--border-dark)
		var(--border-light);
	color: #fff;
	font-size: 16px;
	line-height: 15px;
	height: 18px;
	padding: 0;
	width: 18px;
	user-select: none;
	cursor: pointer;
}

.closeButton:active {
	border-color: var(--border-dark) var(--border-light) var(--border-light)
		var(--border-dark);
}

.resultTitle {
	font-size: 16px;
	line-height: 15px;
	margin: 10px 0 20px;
	color: #fff;
	text-transform: uppercase;
}

.resultItem {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.resultImage {
	max-width: 150px;
	max-height: 150px;
	object-fit: contain;
	margin-bottom: 15px;
	border: 1px solid;
	border-color: var(--border-dark) var(--border-light) var(--border-light)
		var(--border-dark);
}

.resultNameOnlyContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 150px;
	margin-bottom: 15px;
	background-color: var(--secondary-bg);
	border: 1px solid;
	border-color: var(--border-dark) var(--border-light) var(--border-light)
		var(--border-dark);
}

.resultNameOnly {
	color: var(--text);
	font-size: 16px;
	line-height: 15px;
	text-align: center;
	padding: 10px;
}

.resultName {
	color: var(--text);
	font-size: 16px;
	line-height: 15px;
	margin: 10px 0;
	padding-bottom: 5px;
}

.resultRarity {
	font-size: 13px;
	line-height: 15px;
	text-transform: uppercase;
	margin: 5px 0 0;
	color: var(--text-3);
}

.resultDescription {
	font-size: 13px;
	line-height: 15px;
	color: var(--secondary-text);
	margin-top: 10px;
	white-space: pre-wrap;
	padding: 10px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
	.modalContent {
		padding: 20px;
	}

	.resultTitle {
		font-size: 20px;
	}

	.resultImage {
		max-width: 120px;
		max-height: 120px;
	}

	.resultName {
		font-size: 18px;
	}
}
