.rouletteContainer {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	background-color: #3e4637;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.rouletteTrack {
	display: flex;
	position: absolute;
	left: 0; /* Initial position, will be animated */
	transition: left var(--spin-duration) cubic-bezier(0.25, 0.1, 0.25, 1); /* Default timing function */
	will-change: left; /* Optimize for animation */
	align-items: center; /* Vertically align items in the track */
	height: 100%; /* Ensure track takes full height of its container */
}

/* Media queries for responsiveness */
@media (max-width: 480px) {
	.rouletteContainer {
		padding: 10px;
	}

	.spinButton {
		padding: 10px 20px;
		font-size: 14px;
	}
}
