/* Styles for ResultModal */

.modalBackdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modalContent {
	background: linear-gradient(to bottom, #1f3747, #111922);
	border-radius: 8px;
	padding: 30px;
	max-width: 400px;
	width: 90%;
	text-align: center;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
	position: relative;
	animation: modalAnimation 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes modalAnimation {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.closeButton {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	color: #ccc;
	font-size: 24px;
	cursor: pointer;
}

.closeButton:hover {
	color: white;
}

.resultTitle {
	font-size: 24px;
	margin: 0 0 20px;
	color: #f0c14b;
	text-transform: uppercase;
}

.resultItem {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.resultImage {
	max-width: 150px;
	max-height: 150px;
	object-fit: contain;
	margin-bottom: 15px;
}

.resultName {
	color: white;
	font-size: 20px;
	margin: 10px 0;
	padding-bottom: 5px;
	border-bottom: 2px solid;
	border-image: linear-gradient(
			to right,
			transparent,
			currentColor,
			transparent
		)
		1;
}

.resultRarity {
	font-size: 14px;
	text-transform: uppercase;
	margin: 5px 0 0;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
	.modalContent {
		padding: 20px;
	}

	.resultTitle {
		font-size: 20px;
	}

	.resultImage {
		max-width: 120px;
		max-height: 120px;
	}

	.resultName {
		font-size: 18px;
	}
}
